node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.agents
.factory
.pi
.tanstack
.vscode
.impeccable
.impeccable.md
.skills-lock.json
.vercel
skills-lock.json
